#j_h2{color: #66afe9}
body{margin:auto;background-color:#1b1b1b}
.page-header{color:grey}
#icon{margin-top: -3px}
.table{color:white}
.jumbotron{background-color: #1b1b1b;color:grey; border-radius: 30px}
#j2{margin-top: 125px}
.modal fade{display: none;background-color:transparent !important; opacity: 1.5}