<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProdottiServlet</servlet-name>
        <servlet-class>org.forit.magazzino.servlet.ProdottiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FornitoriServlet</servlet-name>
        <servlet-class>org.forit.magazzino.servlet.FornitoriServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VeicoliServlet</servlet-name>
        <servlet-class>org.forit.magazzino.servlet.VeicoliServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MagazzinoServlet</servlet-name>
        <url-pattern>/magazzino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FornitoriServlet</servlet-name>
        <url-pattern>/fornitori</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VeicoliServlet</servlet-name>
        <url-pattern>/veicoli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdottiServlet</servlet-name>
        <url-pattern>/prodotti</url-pattern>
    </servlet-mapping>            
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
